@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 54px;

    @include tablet {
      gap: 30px;
    }

    @include mobile {
      gap: 20px;
    }
  }

  &__link {
    font-size: $font-size-medium;
    line-height: 160%;
    color: $white-color;

    &_active {
      color: $primary-color;
    }

    @include tablet {
      font-size: $font-size-base;
    }
  }
}
