@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.creative {
  padding: 120px 0;
  background-color: $background-secondary-color;

  @include mobile {
    padding: 60px 0;
  }

  &__container {
    @include container;
    display: flex;
    flex-direction: column;
    gap: 34px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &__subtitle {
    @include descrDecor;
  }

  &__title {
    margin: 0;
    margin-top: 4px;
    max-width: 500px;
  }

  &__info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;

    @include mobile {
      flex-direction: column;
      gap: 16px;
    }
  }

  &__button {
    @include mobile {
      width: 100%;
      text-align: center;
    }
  }

  &__descr {
    margin: 0;
    max-width: 700px;
  }

  &__list {
    display: flex;
    gap: 34px;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
    }
  }
}

.listItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid $grey-color;
  border-radius: 20px;
  padding: 30px 20px;
  width: 100%;
  height: fit-content;
  background-color: $white-color;

  @include tablet {
    height: auto;
  }

  @include mobile {
    padding: 16px;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  &__title {
    margin: 0;
    margin-top: 12px;
    font-size: $font-size-h4;

    @include mobile {
      margin-top: 6px;
      font-size: 18px;
    }
  }

  &__descr {
    margin: 0;
    font-size: $font-size-small;
  }
}
